<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="mat-app-background basic-container">
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <mat-icon aria-hidden="false" (click)="sidenav.toggle()">menu</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-sidenav-container fxFlexFill class="mat-elevation-z10">
      <mat-sidenav position="end" #sidenav fxLayout="column">
        <div fxLayout="column">
          <a href="#" mat-button>Menu Item 1</a>
          <a href="#" mat-button>Menu Item 2</a>
          <a href="#" mat-button>Menu Item 3</a>
          <a href="#" mat-button>Menu Item 4</a>
          <a href="#" mat-button>Menu Item 5</a>
          <a href="#" mat-button>Menu Item 6</a>
          <a (click)="sidenav.toggle()" mat-button><mat-icon>arrow_right_alt</mat-icon></a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content position="start">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>